.navpageContainer {
  width: 100%;
  background-color: rgb(240, 164, 199);
  border: #222 solid 40px;
  text-transform: uppercase;
  color: rgb(240, 164, 199);
  font-family: "Black Han Sans", sans-serif;
  padding: 40px;
  /* trying to do navpage thing */
  /* z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 0; */
}

#inactive {
  display: none;
}

.title {
  text-align: left;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 100;
}

:root {
  --mainColor: rgb(240, 164, 199);
}

.fa-bars {
  color: #55ae95;
  display: none;
  float: right;
  font-size: 24px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.fa-bars:hover {
  color: rgb(240, 164, 199);
}

.learnMore {
  /* font-weight: bold; */
  font-weight: lighter;
  color: #222;
  -webkit-text-stroke: 1px #55ae95;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Black Han Sans", sans-serif;
}

.learnMore:hover {
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

@keyframes arrowMoveLeft {
  0% {
    right: -15px;
    opacity: 0.1;
  }
  50% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -15px;
    opacity: 0.1;
  }
}

@keyframes arrowMoveRight {
  0% {
    left: -15px;
    opacity: 0.1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: -15px;
    opacity: 0.1;
  }
}

.fa-arrow-left {
  position: relative;
  animation: arrowMoveLeft 1.4s infinite;
  /* color: rgb(240, 164, 199); */
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

.fa-arrow-right {
  position: relative;
  animation: arrowMoveRight 1.4s infinite;
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

/* Styling about page */

.aboutTitle {
  margin-bottom: 30px;
}

.bodyText {
  /* width: 50%; */
  float: right;
  padding: 20px;
  line-height: 1.5em;
  font-family: "Nanum Gothic", sans-serif;
}
.bodyText p {
  margin-bottom: 30px;
  font-weight: bold;
}

.bodyLink {
  text-decoration: none;
  background: linear-gradient(to bottom, #55ae95 0%, #55ae95 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  text-decoration: none;
  transition: background-size 0.2s;
  padding: 4px 0px;
  /* border-bottom: rgb(226, 150, 186) solid 3px; */
  color: #55ae95;
}

.bodyLink:hover {
  background-size: 4px 50px;
  color: #222;
}

.headshot {
  height: 300px;
  /* border-radius: 5px; */
  /* z-index: 1;
  position: relative; */
  padding: 10px;
}

/* styling experience page */
.resumeDownload {
  padding: 20px;
  border: 5px rgb(240, 164, 199) solid;
}

.resumeDownload:hover {
  border-style: double;
  text-align: center;
}

.listTitle {
  text-transform: uppercase;
  color: #55ae95;
  font-size: 30px;
  border-bottom: solid 5px rgb(240, 164, 199);
}

.listSubtitle {
  text-transform: uppercase;
  font-size: 18px;
}

li {
  margin-left: 18px;
  font-family: "Nanum Gothic", sans-serif;
}

.mySkills,
.myCourses {
  margin-bottom: 20px;
}

.downloadCV {
  margin-top: 25px;
  text-align: center;
}

/* media queries */

@media screen and (max-width: 992px) {
  .homeContainer {
    width: 100%;
    border: 40px rgb(240, 164, 199) solid;
    position: relative;
  }
  .fa-bars {
    display: block;
    /* position: absolute;
    top: 5;
    right: 3; */
  }
  .title {
    font-size: 40px;
  }
  .headshot {
    height: 200px;
  }
  .bodyText p,
  li {
    font-size: 14px;
  }
  .bodyText,
  .headshotDiv {
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
  }
  .listTitle {
    font-size: 24px;
  }
  .resumeDownload {
    font-size: 20px;
    border: none;
  }
}

.formInput,
.formTextarea {
  background-color: #222;
  border: #222;
  text-transform: uppercase;
}

.formInput:hover,
.formInput:active,
.formInput:focus {
  border: none;
  box-shadow: none;
  outline-color: #222;
}

.formLabel {
  text-transform: uppercase;
  font-size: 24px;
}
