:root {
  --mainColor: #222;
}

.homeContainer {
  background-color: #222;
  width: 100%;
  /* maybe need this maybe not */
  overflow-x: hidden;
  border-top: 40px rgb(240, 164, 199) solid;
  border-bottom: 40px rgb(240, 164, 199) solid;
  border-right: 40px rgb(240, 164, 199) solid;
  color: rgb(240, 164, 199);
  font-family: "Black Han Sans", sans-serif;
  padding: 40px;
}

.class {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  font-family: "Black Han Sans", sans-serif;
  bottom: 0;
  top: 0;
}

nav {
  padding-top: 100px;
}

.navItemDiv {
  text-align: center;
  list-style-type: none;
  margin-bottom: 50px;
}

.navItem {
  /* font-weight: bold; */
  color: #222;
  font-size: 24px;
  border-bottom: 5px solid #222;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.navItem:hover,
.navbar__link--active {
  color: transparent;
  -webkit-text-stroke: 2px var(--mainColor);
  border-bottom-style: double;
  text-decoration: none;
}

@supports not (-webkit-text-stroke: 2px #222) {
  .navItem:hover,
  .navbar__link--active {
    text-shadow: 3px 3px 0 var(--mainColor), -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor), -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}

.navbar__link--active {
  color: #55ae95;
}
