.navpageContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 164, 199);
  border: #222 solid 40px;
  text-transform: uppercase;
  color: rgb(240, 164, 199);
  font-family: "Black Han Sans", sans-serif;
  padding: 40px;
}

.title {
  text-align: left;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 100;
}
.titleName {
  color: #55ae95;
}
:root {
  --mainColor: rgb(240, 164, 199);
}

.fa-bars {
  color: rgb(240, 164, 199);
  display: none;
  float: right;
  font-size: 24px;
  position: absolute;
  top: -35px;
  right: -35px;
}

.navIcon {
  position: absolute;
  top: 45px;
  right: 45px;
}

.fa-times {
  color: #222;
  display: none;
  float: right;
  font-size: 28px;
  /* position: absolute;
  top: 45px;
  right: 45px; */
}

.fa-bars:hover,
.fa-times:hover {
  color: #55ae95;
  cursor: pointer;
}

.learnMore {
  font-weight: lighter;
  color: #222;
  -webkit-text-stroke: 1px #55ae95;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Black Han Sans", sans-serif;
}

.learnMore:hover {
  color: #55ae95;
  -webkit-text-stroke: 0px;
  cursor: pointer;
}

@keyframes arrowMoveLeft {
  0% {
    right: -15px;
    opacity: 0.1;
  }
  50% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -15px;
    opacity: 0.1;
  }
}

@keyframes arrowMoveRight {
  0% {
    left: -15px;
    opacity: 0.1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: -15px;
    opacity: 0.1;
  }
}

.fa-arrow-left {
  position: relative;
  animation: arrowMoveLeft 1.4s infinite;
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

.fa-arrow-right {
  position: relative;
  animation: arrowMoveRight 1.4s infinite;
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

/* Styling about page */

.aboutTitle {
  margin-bottom: 30px;
}

.bodyText {
  float: right;
  padding: 20px;
  line-height: 1.5em;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
}
.bodyText p {
  padding: 0px 0px 0px 20px;
  margin-bottom: 30px;
}

.bodyLink {
  text-decoration: none;
  background: linear-gradient(to bottom, #55ae95 0%, #55ae95 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  text-decoration: none;
  transition: background-size 0.2s;
  padding: 4px 0px;
  color: #55ae95;
}

.bodyLink:hover {
  background-size: 4px 50px;
  color: #222;
}

.headshot {
  height: 300px;
  padding: 10px;
}

/* styling experience page */
.resumeDiv {
  margin-top: 5px;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.resumeDownload {
  padding: 10px 10px;
  margin: 0;

  border: 5px rgb(240, 164, 199) solid;
}

.resumeDownload:hover {
  border-style: double;
}

.listTitle {
  text-transform: uppercase;
  color: #55ae95;
  font-size: 30px;
  border-bottom: solid 5px rgb(240, 164, 199);
}

.listSubtitle {
  text-transform: uppercase;
  font-size: 18px;
}

li {
  margin-left: 18px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
}

.mySkills,
.myCourses {
  margin-bottom: 20px;
}

/* styling projects page */
.projectDiv,
.projContainer {
  justify-content: center;
  text-align: center;
}
.projTitle {
  text-transform: uppercase;
  color: #55ae95;
  font-size: 30px;
  padding-bottom: 0.1em;
}

.projTitle:hover {
  color: transparent;
  -webkit-text-stroke: 2px #55ae95;
  cursor: pointer;
  cursor: pointer;
  text-decoration: none;
}

@supports not (-webkit-text-stroke: 2px #55ae95) {
  .navItem:hover,
  .navbar__link--active {
    text-shadow: 3px 3px 0 #55ae95, -1px -1px 0 #55ae95, 1px -1px 0 #55ae95,
      -1px 1px 0 #55ae95, 1px 1px 0 #55ae95;
  }
}

/* media queries */

@media screen and (max-width: 992px) {
  .homeContainer {
    width: 100%;
    border: 40px rgb(240, 164, 199) solid;
    position: relative;
  }
  .fa-bars,
  .fa-times {
    display: block;
  }
  .title {
    font-size: 38px;
  }
  .headshot {
    height: 200px;
  }
  .bodyText p,
  li {
    font-size: 13px;
  }
  .bodyText p {
    padding: 0px;
  }
  .bodyText,
  .headshotDiv {
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
  }
  .listTitle {
    font-size: 24px;
  }
  .resumeDownload {
    font-size: 20px;
  }
  .projTitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.formInput,
.formTextarea {
  background-color: #222;
  border: #222;
  text-transform: uppercase;
}

.formInput:hover,
.formInput:active,
.formInput:focus {
  border: none;
  box-shadow: none;
  outline-color: #222;
}

.formLabel {
  text-transform: uppercase;
  font-size: 24px;
}

/* styling projects page */

.carousel {
  height: 100vh;
}
