.navpageContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 164, 199);
  border: #222 solid 40px;
  text-transform: uppercase;
  color: rgb(240, 164, 199);
  font-family: "Rubik Mono One", sans-serif;
  padding: 40px;
}

.title {
  text-align: left;
  font-size: 60px;
  text-transform: uppercase;
  font-family: "Rubik Mono One", sans-serif;
  font-weight: 100;
}
.titleName {
  color: #55ae95;
}
:root {
  --mainColor: rgb(240, 164, 199);
}

.fa-bars {
  color: rgb(240, 164, 199);
  display: none;
  float: right;
  font-size: 24px;
  position: absolute;
  top: -35px;
  right: -35px;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.navIcon {
  position: absolute;
  top: 45px;
  right: 45px;
}

.fa-times {
  color: #222;
  display: none;
  float: right;
  font-size: 28px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  /* position: absolute;
  top: 45px;
  right: 45px; */
}

.fa-bars:hover,
.fa-times:hover {
  color: #55ae95;
  cursor: pointer;
}

.learnMore {
  font-weight: lighter;
  color: #222;
  -webkit-text-stroke: 1px #55ae95;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Rubik Mono One", sans-serif;
}

.learnMore:hover {
  color: #55ae95;
  -webkit-text-stroke: 0px;
  cursor: pointer;
}

@keyframes arrowMoveLeft {
  0% {
    right: -15px;
    opacity: 0.1;
  }
  50% {
    right: 0px;
    opacity: 1;
  }
  100% {
    right: -15px;
    opacity: 0.1;
  }
}

@keyframes arrowMoveRight {
  0% {
    left: -15px;
    opacity: 0.1;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: -15px;
    opacity: 0.1;
  }
}

.fa-arrow-left {
  position: relative;
  animation: arrowMoveLeft 1.4s infinite;
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

.fa-arrow-right {
  position: relative;
  animation: arrowMoveRight 1.4s infinite;
  color: #55ae95;
  -webkit-text-stroke: 0px;
}

/* Styling about page */

.aboutTitle {
  margin-bottom: 30px;
}

.bodyText {
  padding: 20px;
  line-height: 1.5em;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}
.bodyText p {
  padding: 0px 0px 0px 20px;
  margin-bottom: 30px;
}

.bodyLink {
  text-decoration: none;
  background: linear-gradient(to bottom, #55ae95 0%, #55ae95 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  text-decoration: none;
  transition: background-size 0.2s;
  padding: 2px 0px;
  color: #55ae95;
}

.bodyLink:hover {
  background-size: 4px 50px;
  color: #222;
}

.headshot {
  height: 300px;
  padding: 10px;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    filter: drop-shadow (0 5px 15px 0px rgba(0, 0, 0, 0.6));
    transform: translate(0, 0px);
  }
  65% {
    filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));

    transform: translate(0, 7px);
  }
  to {
    filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));

    transform: translate(0, -0px);
  }
}

.floating1 {
  animation-name: floating2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating1 {
  from {
    filter: drop-shadow (0 5px 15px 0px rgba(0, 0, 0, 0.6));
    transform: translate(0, 4px);
  }
  65% {
    filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));

    transform: translate(0, -2px);
  }
  to {
    filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));

    transform: translate(0, 4px);
  }
}

.floating2 {
  animation-name: floating2;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating2 {
  from {
    filter: drop-shadow (0 5px 15px 0px rgba(0, 0, 0, 0.6));
    transform: translate(0, 0px);
  }
  65% {
    filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));

    transform: translate(0, 5px);
  }
  to {
    filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));

    transform: translate(0, -0px);
  }
}

.floating3 {
  animation-name: floating3;
  animation-duration: 3.1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating3 {
  from {
    filter: drop-shadow (0 5px 15px 0px rgba(0, 0, 0, 0.6));
    transform: translate(0, 5px);
  }
  65% {
    filter: drop-shadow(0 25px 15px 0px rgba(0, 0, 0, 0.2));

    transform: translate(0, -0px);
  }
  to {
    filter: drop-shadow(0 5px 15px 0px rgba(0, 0, 0, 0.6));

    transform: translate(0, 5px);
  }
}

/* styling experience page */
.resumeDiv {
  margin-top: 5px;
  padding: 0;
  text-align: center;
  justify-content: center;
}

.resumeDownload {
  padding: 10px 10px;
  margin: 0;

  border: 4px rgb(240, 164, 199) solid;
}

.resumeDownload:hover {
  border-style: double;
}

.listTitle {
  text-transform: uppercase;
  color: #55ae95;
  font-size: 30px;
  border-bottom: solid 4px rgb(240, 164, 199);
}

.listSubtitle {
  text-transform: uppercase;
  font-size: 18px;
}

li {
  margin-left: 18px;
  font-size: 13px;
  /* font-family: "Nanum Gothic", sans-serif; */
  font-family: "Roboto Mono", monospace;
}

.mySkills,
.myCourses {
  margin-bottom: 20px;
}

/* styling projects page */
.projectDiv,
.projContainer {
  justify-content: center;
  text-align: center;
}
.projTitle {
  text-transform: uppercase;
  color: #55ae95;
  font-size: 30px;
  padding-bottom: 0.1em;
}

.projTitle:hover {
  color: transparent;
  -webkit-text-stroke: 2px #55ae95;
  cursor: pointer;
  cursor: pointer;
  text-decoration: none;
}

@supports not (-webkit-text-stroke: 2px #55ae95) {
  .navItem:hover,
  .navbar__link--active {
    text-shadow: 3px 3px 0 #55ae95, -1px -1px 0 #55ae95, 1px -1px 0 #55ae95,
      -1px 1px 0 #55ae95, 1px 1px 0 #55ae95;
  }
}

/* media queries */

@media screen and (max-width: 992px) {
  .homeContainer {
    width: 100%;
    border: 40px rgb(240, 164, 199) solid;
    position: relative;
  }
  .fa-bars,
  .fa-times {
    display: block;
  }
  .title,
  .getInTouch {
    font-size: 30px;
  }
  .learnMore {
    font-size: 14px;
  }
  .headshot {
    height: 200px;
  }
  .bodyText p,
  li,
  .contactSubtitle {
    font-size: 12px;
  }
  .bodyText p {
    padding: 0px;
  }
  .bodyText,
  .headshotDiv {
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
  }
  .listTitle {
    font-size: 24px;
  }
  .resumeDownload {
    font-size: 20px;
  }
  .projTitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .contactIcon {
    font-size: 30px !important;
    padding: 3px 15px !important;
  }
}

.formInput,
.formTextarea {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  background-color: #222;
  font-size: 14px;
  color: #55ae95;
  border: rgb(240, 164, 199) 3px solid;
  padding: 5px;

  -webkit-transition: border 0.4s ease-in-out;
  transition: border 0.4s ease-in-out;
}

.formInput {
  margin-bottom: 20px;
}

.formInput:active,
.formInput:focus,
.formTextarea:focus,
.formTextarea:active {
  background-color: #222 !important;
  outline: none;
  box-shadow: none;
  outline-color: #222;
  border: #55ae95 3px solid;
}

.formLabel {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0;
}

.formBtn {
  text-align: right;
  background-color: transparent;
  border: none;
  font-size: 24px;
}
.submitBtnDiv {
  text-align: right;
}
.getInTouch {
  text-transform: uppercase;
  color: #55ae95;
  font-size: 32px;
  border: none;
}

input:-internal-autofill-selected {
  background-color: #222 !important;
  color: rgb(240, 164, 199) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: rgb(240, 164, 199) 3px solid;
  -webkit-text-fill-color: #55ae95;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contactIcon {
  font-size: 40px !important;
  color: #55ae95;
  padding: 5px 20px !important;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.contactIcon:hover {
  color: rgb(240, 164, 199);
}

.contactLinks {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  padding-top: 70px;
  text-align: center;
}

.contactSubtitle {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  padding-bottom: 15px;
}
/* styling projects page */

.carousel {
  height: 100vh;
}
